{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li class="active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('empresa_index') }}">Ações em Empresas</a></li>
                    <li><a href="{{ path('socio_index') }}">Ações em Sócios</a></li>
                </ul>
        </div>
    </header>
    <h1>Listagem de Dados</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <hr>
    <hr>
    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Sócios Cadastrados</th>
        </tr>
        </thead>
        <tbody>
        {% for socio in socios %}
            <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.nome }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}