{% extends 'base.html.twig' %}

{% block title %}Edit Socio{% endblock %}

{% block body %}

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('socio_new') }}">Cadastrar Sócio</a></li>
                    <li><a href="{{ path('socio_index') }}">Listagem de Socios</a></li>
                </ul>
        </div>
    </header>

    <h1 align="center">Edit Socio</h1>

    {{ include('socio/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
