{% extends 'base.html.twig' %}

{% block title %}Home Sócio{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('socio_new') }}">Cadastrar Sócio</a></li>
                    <li class="active"><a href="{{ path('socio_index') }}">Listagem de Socios</a></li>
                </ul>
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socio in socios %}
            <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.nome }}</td>
                <td>
                    <a href="{{ path('socio_show', {'id': socio.id}) }}" class="show">Informações</a>
                    <a href="{{ path('socio_edit', {'id': socio.id}) }}" class="edit">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
