{% extends 'base.html.twig' %}

{% block title %}Cadastrar Socio{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li class="active"><a href="{{ path('socio_new') }}">Cadastrar Sócios</a></li>
                    <li><a href="{{ path('socio_index') }}">Listagem de Sócios</a></li>
                </ul>
        </div>
    </header>

    {{ include('socio/_form.html.twig') }}

    <a href="{{ path('socio_index') }}">back to list</a>
{% endblock %}
