{% extends 'base.html.twig' %}

{% block title %}Socio{% endblock %}

{% block body %}

<header>
        <div class="container">
            <nav>
                <ul>
                    <li class="active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('socio_new') }}">Cadastrar Socio</a></li>
                    <li><a href="{{ path('socio_index') }}">Listagem de Sócios</a></li>
                    <li><a href="">Sair</a></li>
                </ul>
        </div>
    </header>
    <h1>Socio</h1>

    <table class="table">
        <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>Empresas</th>
                <th>Açoes</th>
        </tr>

        <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.nome }}</td>
                <td> {% for empresa in empresas %}
                        {% if empresa.id_empresa is empty %}
                            -
                        {% else %}
                            <a href="{{ path('empresa_show', {'id': empresa.id_empresa}) }}"> {{ empresa.empresa }} <br> </a>
                        {% endif %}

                    {% endfor %}</td>
                <td>{{ include('socio/_delete_form.html.twig') }}  <a href="{{ path('socio_edit', {'id': socio.id}) }}" class="edit">Edit</a></td>
        </tr>
    </table>


    
{% endblock %}
