{% extends 'base.html.twig' %}

{% block title %}Editar Empresa{% endblock %}

{% block body %}

<header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('empresa_new') }}">Cadastrar Empresa</a></li>
                    <li><a href="{{ path('empresa_index') }}">Listagem de Empresas</a></li>
                    <li><a href="">Sair</a></li>
                </ul>
        </div>
    </header>

    <center><h1>Editar Empresa</h1></center>

    {{ include('empresa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('empresa_index') }}">back to list</a>

{% endblock %}
