{% extends 'base.html.twig' %}

{% block title %}Home Empresa{% endblock %}

{% block body %}

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('empresa_new') }}">Cadastrar Empresa</a></li>
                    <li class="active"><a href="{{ path('socio_index') }}">Listagem de Empresas</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
                <td height="15px">
                    <a href="{{ path('empresa_show', {'id': empresa.id}) }}" class="show">Informações</a>
                    <a href="{{ path('empresa_edit', {'id': empresa.id}) }}" class="edit">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
