{% extends 'base.html.twig' %}

{% block title %}Cadastrar Empresa Empresa{% endblock %}

{% block body %}

<header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li class="active"><a href="{{ path('empresa_new') }}">Cadastrar Empresa</a></li>
                    <li><a href="{{ path('empresa_index') }}">Listagem de Empresas</a></li>
                </ul>
        </div>
    </header>


    {{ include('empresa/_form.html.twig') }}

{% endblock %}
