{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('socio_index') }}">Listagem de Empresas</a></li>
                    <li><a href="{{ path('empresa_new') }}">Cadastrar Empresa</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Empresa</h1><br>

    <table class="table">


            <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CNPJ</th>
                    <th>Sócios</th>
                    <th>AÇÕES</th>
            </tr>
            <tr>
                    <td>{{ empresa.id }}</td>
                    <td>{{ empresa.nome }}</td>
                    <td>{{ empresa.cnpj }}</td>

                    <td> {% for socio in socios %}
                            {% if socio.id_socio is empty %}
                                -
                            {% else %}
                                <a href="{{ path('socio_show', {'id': socio.id_socio}) }}"> {{ socio.socio }} <br> </a>
                            {% endif %}

                    {% endfor %}</td>

                    <td>
                        {{ include('empresa/_delete_form.html.twig') }} <br> <a href="{{ path('empresa_edit', {'id': empresa.id}) }}" class="edit">Edit</a>
                    </td>
            </tr>
    </table>





{% endblock %}
