<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            body{
                margin: 0;
                padding: 0;
            }

            header {
                display: flex;
                justify-content: center;
                height: 120px;
            }
            .menu {
                display: flex;
                align-items: center;
            }
            nav ul,
            nav li{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            nav ul {
                display: flex;
            }
            a{
                text-decoration: none;
            }
            nav a{
                display: block;
                padding: 15px;
                text-decoration: none;
                text-transform: uppercase;
                color: #727272;
                font-family:Arial, Helvetica, sans-serif
            }
            nav .active a,
            nav a:hover{
                background-color: #39AAE1;
                color: white;
            }
                table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    align-items: center;
                }

                td, th {
                        border: 1px solid #dddddd;
                        text-align: center;
                        padding: 8px;
                        width: 20px;
                }

                tr:nth-child(even) {
                        background-color: #dddddd;
                }
                .form{
                    display:flex;
                    justify-content: center;
                }

                input, select {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }

                button {
                    width: 100%;
                    background-color: dodgerblue;
                    color: white;
                    padding: 12px 16px;
                    margin: 5px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .edit{

                    background-color: orange;
                    color: white;
                    padding: 4px 48px;
                    margin: 4px 0;
                    margin-bottom: 2px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    height: 15px;
                    text-decoration: none;


                }
                .show {
                    width: 40px;
                    background-color: deepskyblue;
                    color: white;
                    padding: 4px 48px;
                    margin: 4px 0;
                    margin-top: 2px;
                    margin-bottom: 2px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
                #botao{

                    background-color: red;
                    width: 120px;
                    height: 30px;
                    text-align: center;



                }

                input[type=submit]:hover {
                    background-color: #45a049;
                }
        </style>
    </head>
    <body>
        {% block body %}

                {% endblock %}
                {% block javascripts %}{% endblock %}

    </body>
</html>
